@model CourseApp1.data.Favourite

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Favourite</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cours.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cours.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.favId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
