@model IEnumerable<CourseApp1.data.Answer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @*@Html.ActionLink("Add New Answer", "Create")*@
    <a href="@Url.Action("Create","Answers",new {id=ViewBag.Question})" class="btn btn-primary">Add Answer </a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomQuestion.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Content)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.RoomQuestion.Content)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AspNetUser.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CreationDate)
    </td>
    @*<td>
        @Html.ActionLink("Edit", "Edit", new { id = item.AnswerId }) |
        @Html.ActionLink("Details", "Details", new { id = item.AnswerId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.AnswerId })
    </td>*@
</tr>
}

</table>
