@model IEnumerable<CourseApp1.data.Roadmap>

@{
    ViewBag.Title = "Roadmaps";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Roadmaps</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Roadmap Courses
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        <a href="@Url.Action("IndexById","Roadmap_courses",new { id = item.Id })">
            <button class="btn btn btn-primary">Courses</button>
        </a>
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>
